{% from "shared/_formhelpers.html" import render_field %}
{% extends "shared/_layout.html" %}

{% block additional_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock additional_css %}

{% block title%}{{page_title}}{% endblock %}

{% block main_content %}


<table class="w-100 mb-5">
    <tr>
        <td>
            <h1 class="display-5 mb-4">
                Edit Document
            </h1>
        </td>
        <td>
            <div style="display: flex; justify-content: flex-end; float: right;">
                <table>
                    <tr>
                        <td>
                            <a class="btn btn-success btn-lg" id="newButton" href="/docs/new"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-lg" id="openButton"  data-toggle="modal" data-target="#openPageModal"><i class="fa fa-folder-open-o" aria-hidden="true"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-lg" id="deleteButton" onclick="deletePage()" {{"disabled" if not is_existing}}><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </td>

    </tr>
</table>


<div class="form-row">
    <div class="form-group col-md-6">
        <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" style="width: 90px;">Category</div>
        </div>
        <select type="text" class="form-control form-control-lg" id="pageCategory" name="pageCategory" required onchange="requiredCheck()">
            {% for key, val in categories.items() %}
                <option value="{{key}}" {{"selected" if key == category_id else ""}}  >{{val[0]}}</option>
            {% endfor %}

        </select>
        </div>
    </div>
    <div class="form-group col-md-6">
        <button class="btn btn-secondary btn-lg align-bottom" id="newCategory" data-toggle="modal" data-target="#newCategoryModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
</div>

<div class="form-row">
    <div class="form-group mb-3  col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" style="width: 90px;">Title</div>
            </div>
            <input type="text" class="form-control form-control-lg" name="pageTitle" id="pageTitle" required value="{{doc_page_title}}" onchange="requiredCheck()">
        </div>  
    </div>
</div>  

<div class="form-group mb-3">
    <textarea class="form-control" id="pageContent" name="pageContent" rows="12" required onchange="requiredCheck()"></textarea>
</div>

<button id="submitButton" value="{{page_id}}" class="btn btn-success" disabled onclick="savePage()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Content</button>



<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="newCategoryModalLabel">New Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input class="form-control form-control-lg" id="newCategoryName">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="addCategory()">Save changes</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="openPageModal" tabindex="-1" role="dialog" aria-labelledby="openPageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="openPageModalLabel">Open Page</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <select id="openCategory" class="form-control form-control-lg mb-3" onchange="getPages()">
                {% for key, val in categories.items() %}
                {% if val[1] > 0 %}
                    <option value="{{key}}" {{"selected" if key == category_id else ""}}  >{{val[0]}}</option>
                {% endif %}
                
            {% endfor %}
            </select>
            <select id="openPage" class="form-control form-control-lg">
            </select>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="openDocument()">Open</button>
        </div>
        </div>
    </div>
</div>

{% endblock main_content %}


{% block additional_js %}
    <script>
        var simplemde = new SimpleMDE({
            hideIcons: ['side-by-side', 'fullscreen'],
        });

        simplemde.value(`{{doc_page_content}}`)

        simplemde.codemirror.on("change", function(){
            requiredCheck();
        });

        getPages();

        function openDocument(){
            window.location.replace('/docs/edit/' + $("#openPage").val())
        }

        function getPages(){
            var category = $('#openCategory').val()

            data = JSON.stringify({category_id: category})

            $.ajax({
                type: "POST",
                url: '/docs/edit?task=get-pages',
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    $('#openPage').empty();
                    $.each(data, function(i, row) {
                        $('#openPage').append($('<option>', {
                            value: row['page_url'],
                            text: row['page_name']
                        }))
                    })
                },
                error: function(errMsg) {
                    console.log(errMsg)
                }

            })

        }

        function savePage(){
            var page_id = $("#submitButton").val();
            var category = $("#pageCategory").val();
            var title = $("#pageTitle").val();
            var content = simplemde.value();

            data = JSON.stringify({
                page_id: page_id,
                category: category,
                title: title,
                content: content
            })

            

            $.ajax({
                type: "POST",
                url: '/docs/edit?task=add-edit',
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    if(data.status == 0){
                        alert(data.message)
                    } else {
                        window.location.replace('/docs/' + data.message)
                    }
                },
                error: function(errMsg) {
                    console.log(errMsg)
                }

            })
        }

        function deletePage(){
            var page_id = $("#submitButton").val();
            var title = $("#pageTitle").val();

            data = JSON.stringify({
                page_id: page_id,
                page_name: title,
            })

            if (confirm("Are you sure you want to delete this page?")) {
                $.ajax({
                    type: "POST",
                    url: '/docs/edit?task=delete-page',
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        window.location.replace('/docs/new')
                    },
                    error: function(errMsg) {
                        console.log(errMsg)
                    }

                })
            }

            
        }

        function requiredCheck(){
            var category = $("#pageCategory").val();
            var title = $("#pageTitle").val();
            var content = simplemde.value();

            if (category && title && content && category != "" && title != "" && content != ""){
                $("#submitButton").prop("disabled", false);
            } else {
                $("#submitButton").prop("disabled", true);
            }
        }

        function addCategory() {
            data = JSON.stringify({category:$("#newCategoryName").val()})
            $.ajax({
                type: "POST",
                url: '/docs/edit?task=new-category',
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    if(data.status == "error"){
                        alert(data.message)
                    } else {
                        $("#pageCategory").append($('<option>', {
                            value: data.category_id,
                            text: data.category
                        }));
                        $("#pageCategory").val(data.category_id);
                        $("#newCategoryName").val("");
                        $('#newCategoryModal').modal('hide')
                    }
                },
                error: function(errMsg) {
                    console.log(errMsg)
                }

            })
        }

        
    </script>
{% endblock additional_js %}