{% extends "shared/_layout.html" %}

{% block title%}{{page}}{% endblock %}

{% block additional_css %}


{% endblock %}

{% block main_content %}

<div class="w-100 border-secondary" style="height: 700px">

    <script type='text/javascript' src='https://tableau.lakesideindustries.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 100%; height: 100%;'>
        <object class='tableauViz' width='100%' height='100%' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Ftableau.lakesideindustries.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='AdminViews&#47;ActivityLog' />
            <param name='tabs' value='yes' />
            <param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' />
        </object>
    </div>
            
</div>
{% endblock %}

{% block additional_js %}

{% endblock %}