{% extends "shared/_filtertable.html" %}

{% block more_js %}
<script>
    document.getElementById('filters_Database').addEventListener("change", updateSchemas);

    function updateSchemas() {

        var newOptions = {{ schema_dict }};

        var selectedVal = String(document.getElementById("filters_Database").value);

        var selectedOptions = newOptions[selectedVal]

        var $el = $("#filters_Schema");
        $el.empty();
        $.each(selectedOptions, function (key, value) {
            $el.append($("<option></option>")
                .attr("value", value).text(key));
        })
    }
</script>

{% endblock %}