{% from "shared/_formhelpers.html" import render_field %}
{% extends "shared/_layout.html" %}

{% block title%}{{page}}{% endblock %}

{% block additional_css %}


{% endblock %}

{% block main_content %}

{% if show_header %}

<form method="POST">
    <div class="row mb-5">
        <div class="col-lg-8 col-xs-12">
            <h1>{{page_header}}</h1>
        </div>
        <div class="col-lg-4 col-xs-12">
            <table>
                <tr>
                    <td>
                       <select name="templateCombo" id="templateCombo" method="GET" action="/"
                            class="form-control-lg w-100"
                            onchange="redirect(this.value)">
                            {% for key, value in templates.items() %}
                            {% if key == selected_template_id %}
                            <option value="{{key}}" selected>{{ value['template_name'] }}</option>
                            {% else %}
                            <option value="{{key}}">{{ value['template_name'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select> 
                    </td>
                    <td>
                        <button type="button" 
                            name="add_template"
                            class="btn btn-success btn-lg"
                            data-toggle="modal" 
                            data-target="#modalNewTemplateBox"><i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" 
                            name="add_template"
                            class="btn btn-danger btn-lg"
                            data-toggle="modal" 
                            data-target="#modalDeleteTemplateBox"><i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h2 class="mb-4">Template Settings</h3>

    <div class="row mb-4">
        <div class="col-xs-6 col-md-4 col-lg-3">
            <label for="templateCompanySettings" class="form-label">Company Settings</label>
            <select name="templateCompanySettings" id="templateCompanySettings" method="GET" action="/"
                        class="form-control">
                        {% for key, value in company_settings.items() %}
                        {% if key == company_settings_id %}
                        <option value="{{key}}" selected>{{ value['setting_description'] }}</option>
                        {% else %}
                        <option value="{{key}}">{{ value['setting_description'] }}</option>
                        {% endif %}
                        {% endfor %}
            </select>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
            <label for="templateVendorGroup" class="form-label">Vendor Group Settings</label>
            <select name="templateVendorGroup" id="templateVendorGroup" method="GET" action="/"
                        class="form-control">
                        {% for key, value in vendor_groups.items() %}
                        {% if key == vendor_group_id %}
                        <option value="{{key}}" selected>{{ value['group_description'] }}</option>
                        {% else %}
                        <option value="{{key}}">{{ value['group_description'] }}</option>
                        {% endif %}
                        {% endfor %}
            </select>

        </div>
    </div>

    <br>

    <h2 class="mb-4">Schema Access</h3>

    <table class="table table-sm table-striped w-100 mb-5">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Schema</th>
                <th>Lakeside</th>
                <th>Whatcom</th>
                <th>Bayview</th>
                <th>Default</th>
            </tr>
            
        </thead>

        {% for key, value in template_schemas.items() %}
        <tr class="text-center align-middle">
            <td class="text-center align-middle">{{key}}</td>
            <td>
                <input type="checkbox" 
                       id="schema-{{key}}-1"
                       name="schema-{{key}}-1"
                       class="form-control form-control-lg schema-{{key}} col-xs-12"
                       {{'checked' if 1 in value }}
                       onchange="resetSchemas('{{key}}', '1', this.checked)">
            </td>
            <td>
                <input type="checkbox" 
                       id="schema-{{key}}-2"
                       name="schema-{{key}}-2"
                       class="form-control form-control-lg schema-{{key}} col-xs-12"
                       {{'checked' if 2 in value }}
                       onchange="resetSchemas('{{key}}', '2', this.checked)">
            </td>
            <td>
                <input type="checkbox" 
                       id="schema-{{key}}-3" 
                       name="schema-{{key}}-3"
                       class="form-control form-control-lg schema-{{key}}"
                       {{'checked' if 3 in value }}
                       onchange="resetSchemas('{{key}}', '3', this.checked)">
            </td>
            <td>
                <input type="checkbox" 
                       id="schema-{{key}}-0"
                       name="schema-{{key}}-0"
                       class="form-control form-control-lg schema-{{key}}-all"
                       {{'checked' if 0 in value }}
                       onchange="resetSchemas('{{key}}', 'all', this.checked)">
                </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2 class="mb-4">Schema Specific Settings</h2>

    <div id="JCSettingsDiv" class="{{'collapse.show' if 'JC' in schema_access else 'collapse' }} mb-4">
        <h3 class="mb-3">Job Costs</h3>

        <div class="row">
            <div id="JCDiv0" class="col-xs-6 col-md-4 col-lg-3 {{'collapse.show' if 0 in template_schemas['JC'] else 'collapse' }}">
                <label for="jobSecurity0" class="form-label">Security Level</label>
                <select name="jobSecurity0" id="jobSecurity0" method="GET" action="/"
                            class="form-control">
                            {% for key, value in job_security_levels.items() %}
                            {% if key == template_job_security_levels.get(0) %}
                            <option value="{{key}}" selected>{{ value['level_description'] }}</option>
                            {% else %}
                            <option value="{{key}}">{{ value['level_description'] }}</option>
                            {% endif %}
                            {% endfor %}
                </select>
            </div>
            <div id="JCDiv1" class="col-xs-6 col-md-4 col-lg-3 {{'collapse.show' if 1 in template_schemas['JC'] else 'collapse' }}">
                <label for="jobSecurity1" class="form-label">Lakeside Security Level</label>
                <select name="jobSecurity1" id="jobSecurity0" method="GET" action="/"
                            class="form-control">
                            {% for key, value in job_security_levels.items() %}
                            {% if key == template_job_security_levels.get(1) %}
                            <option value="{{key}}" selected>{{ value['level_description'] }}</option>
                            {% else %}
                            <option value="{{key}}">{{ value['level_description'] }}</option>
                            {% endif %}
                            {% endfor %}
                </select>
            </div>
            <div id="JCDiv2" class="col-xs-6 col-md-4 col-lg-3 {{'collapse.show' if 2 in template_schemas['JC'] else 'collapse' }}">
                <label for="jobSecurity2" class="form-label">Whatcom Security Level</label>
                <select name="jobSecurity2" id="jobSecurity2" method="GET" action="/"
                            class="form-control">
                            {% for key, value in job_security_levels.items() %}
                            {% if key == template_job_security_levels.get(2) %}
                            <option value="{{key}}" selected>{{ value['level_description'] }}</option>
                            {% else %}
                            <option value="{{key}}">{{ value['level_description'] }}</option>
                            {% endif %}
                            {% endfor %}

                </select>
            </div>
            <div id="JCDiv3" class="col-xs-6 col-md-4 col-lg-3 {{'collapse.show' if 3 in template_schemas['JC'] else 'collapse' }}">
                <label for="jobSecurity3" class="form-label">Bayview Security Level</label>
                <select name="jobSecurity3" id="jobSecurity3" method="GET" action="/"
                            class="form-control">
                            {% for key, value in job_security_levels.items() %}
                            {% if key == template_job_security_levels.get(3) %}
                            <option value="{{key}}" selected>{{ value['level_description'] }}</option>
                            {% else %}
                            <option value="{{key}}">{{ value['level_description'] }}</option>
                            {% endif %}
                            {% endfor %}
                </select>
            </div>
        </div>

        <br>
    </div>

    <div id="MSSettingsDiv" class="{{'collapse.show' if 'MS' in schema_access else 'collapse' }} mb-4">
        <h3 class="mb-3">Material Sales</h3>

        <div class="row">
            <div id="MSDiv0" class="col-xs-6 col-md-4 col-lg-3 {{'collapse.show' if 0 in template_schemas['MS'] else 'collapse' }}">
                <label for="EZStreet0" class="form-label">Security Level</label>
                <select name="EZStreet0" id="EZStreet0" method="GET" action="/"
                            class="form-control">
                            <option value="0" {{ 'selected' if template_material_sales_levels.get(0) == 0 else '' }}>All Material Sales</option>
                            <option value="1" {{ 'selected' if template_material_sales_levels.get(0) == 1 else '' }}>EZ Street Only</option>
                </select>
            </div>
            <div id="MSDiv1" class="col-xs-6 col-md-4 col-lg-3 {{'collapse.show' if 1 in template_schemas['MS'] else 'collapse' }}">
                <label for="EZStreet1" class="form-label">Lakeside Security Level</label>
                <select name="EZStreet1" id="EZStreet1" method="GET" action="/"
                            class="form-control">
                            <option value="0" {{ 'selected' if template_material_sales_levels.get(1) == 0 else '' }}>All Material Sales</option>
                            <option value="1" {{ 'selected' if template_material_sales_levels.get(1) == 1 else '' }}>EZ Street Only</option>
                </select>
            </div>
            <div id="MSDiv2" class="col-xs-6 col-md-4 col-lg-3 {{'collapse.show' if 2 in template_schemas['MS'] else 'collapse' }}">
                <label for="EZStreet2" class="form-label">Whatcom Security Level</label>
                <select name="EZStreet2" id="EZStreet2" method="GET" action="/"
                            class="form-control">
                            <option value="0" {{ 'selected' if template_material_sales_levels.get(2) == 0 else '' }}>All Material Sales</option>
                            <option value="1" {{ 'selected' if template_material_sales_levels.get(2) == 1 else '' }}>EZ Street Only</option>
                </select>
            </div>
            <div id="MSDiv3" class="col-xs-6 col-md-4 col-lg-3 {{'collapse.show' if 3 in template_schemas['MS'] else 'collapse' }}">
                <label for="EZStreet3" class="form-label">Bayview Security Level</label>
                <select name="EZStreet3" id="EZStreet3" method="GET" action="/"
                            class="form-control">
                            <option value="0" {{ 'selected' if template_material_sales_levels.get(3) == 0 else '' }}>All Material Sales</option>
                            <option value="1" {{ 'selected' if template_material_sales_levels.get(3) == 1 else '' }}>EZ Street Only</option>
                </select>
            </div>
        </div>

        <br>
    </div>

    <div id="PRSettingsDiv" class="{{'collapse.show' if 'PR' in schema_access else 'collapse' }} mb-4">
        <h3 class="mb-3">Payroll</h3>

        {% for co, groups in template_payroll_settings.items() %}

        <div id="PRDiv{{co}}" class="table-responsive {{'collapse.show' if co in template_schemas['PR'] else 'collapse' }}">
            <table class="w-100 table table-sm table-striped w-100 mb-5">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>{{'PR Group' if co == 0 else ''}}
                            {{'Lakeside' if co == 1 else ''}}
                            {{'Whatcom' if co == 2 else ''}}
                            {{'Bayview' if co == 3 else ''}}
                        </th>
                        <th>Hours</th>
                        <th>Earnings</th>
                        <th>Deductions</th>
                        <th>Liabilities</th>
                        <th>SSN</th>
                        <th>Vision</th>
                        <th>Contact</th>
                        <th>EEO</th>
                        <th>Status</th>
                        <th>Leave</th>
                    </tr>
                </thead>
                {% for key, value in groups.items() %}
                    <tr class="text-center align-middle">
                        <td class="text-center align-middle">PR Group {{key}}</td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-hours" 
                            name="payroll-{{co}}-{{key}}-hours"
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['hours'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-earnings"
                            name="payroll-{{co}}-{{key}}-earnings"
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['earnings'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-deductions"
                            name="payroll-{{co}}-{{key}}-deductions"
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['deductions'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-liabilities"
                            name="payroll-{{co}}-{{key}}-liabilities"
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['liabilities'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-ssn" 
                            name="payroll-{{co}}-{{key}}-ssn"
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['ssn'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-vision" 
                            name="payroll-{{co}}-{{key}}-vision"
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['vision'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-contact" 
                            name="payroll-{{co}}-{{key}}-contact"
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['contact'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-eeo" 
                            name="payroll-{{co}}-{{key}}-eeo"
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['eeo'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-status" 
                            name="payroll-{{co}}-{{key}}-status" 
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['status'] }}>
                        </td>
                        <td><input type="checkbox" 
                            id="payroll-{{co}}-{{key}}-leave" 
                            name="payroll-{{co}}-{{key}}-leave" 
                            class="form-control form-control-lg"
                            {{'checked' if 1 == value['leave'] }}>
                        </td>
                        
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% endfor %}
        <br>

    </div>
    
    <table class="submit-table">
        <tr>
            <td class="absorbing-column">

            </td>

            <td>
                <button type="submit" name="save_changes"
                    class="btn btn-primary btn-lg float-right">Save Template</button>
            </td>

        </tr>
    </table>

</form>





{% endif %}

<div class="modal fade" id="modalNewTemplateBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newTemplateModal">New Template</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
            <div class="modal-body row justify-content-center">
                    <table class="ml-5 mr-5">
                        <tr>
                            <td style="width: 125px;" class="align-middle">
                                <label for="newTemplateName">Template Name</label>
                            </td>
                            <td>
                                <input type="text" class="form-control ml-4" id='newTemplateName' name="newTemplateName" required>
                            </td>
                        </tr>
                        <tr style="height: 25px;"></tr>
                        <tr>
                            <td class="align-middle">
                                <label for="copyTemplate">Copy Template</label>
                            </td>
                            <td>
                                <select name="copyTemplate" id="copyTemplate" method="GET" action="/"
                                    class="form-control ml-4">
                                    <option value="">None</option>
                                    {% for key, value in templates.items() %}
                                    {% if key == selected_template_id %}
                                    <option value="{{key}}" selected>{{ value['template_name'] }}</option>
                                    {% else %}
                                    <option value="{{key}}">{{ value['template_name'] }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select> 
                            </td>
    
                        </tr>
    
                    </table>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="modal_create_submit" name="modal_create_submit" class="btn btn-primary">Create Template</button>
            </div>
        </form>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalDeleteTemplateBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTemplateModal">Delete Template</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
            <div class="modal-body row justify-content-center">
                <div class="col-auto">
                    <p class="lead">Are you sure you want to delete {{templates[selected_template_id]['template_name']}}?</p>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="modal_delete_submit" name="modal_delete_submit" class="btn btn-danger">Delete Template</button>
            </div>
        </form>
        
      </div>
    </div>
  </div>




{% endblock %}

{% block additional_js %}

<script>
    function redirect(templateID) {
        window.location.replace("/dw/templates/" + String(templateID));
    };

    function resetSchemas(schema, type, checked) {
        
        var targetClass = '.schema-' + schema;

        if (type != 'all'){
            targetClass += '-all';
        }
        
        if (checked) {
            $(targetClass).each(function(){
                this.checked = false;
            })
        };

        toggleSettings(schema)
        
    };

    function toggleSettings(schema){
        
        var checked = 0;
        var companies = [0, 1, 2, 3];

        for (i in companies){
            company_id = "schema-" + schema +"-" + String(companies[i]);
            setting_id = "#" + schema + "Div" + String(companies[i]);
            if (document.getElementById(company_id).checked){
                checked += 1;
                $(setting_id).removeClass("collapse");
                $(setting_id).addClass("collapse.show");
            } else {
                $(setting_id).addClass("collapse");
                $(setting_id).removeClass("collapse.show");
            }
        }

        if (checked > 0) {
            $("#" + schema + "SettingsDiv").removeClass("collapse");
            $("#" + schema + "SettingsDiv").addClass("collapse.show");
        } else {
            $("#" + schema + "SettingsDiv").addClass("collapse");
            $("#" + schema + "SettingsDiv").removeClass("collapse.show");
        }

    }
    
</script>


{% endblock %}