{% extends "shared/_layout.html" %}

{% block additional_css %}


{% endblock %}

{% block title%}Elevate Permissions{% endblock %}

{% block main_content %}

<h1 class="display-5">{{page_header}}</h1>
<br>
<p class="lead">Fill out the below form to get temporary admin access to ERPSQLSRV.</p>
<br>
<form method="POST">
  <div class="form-group">
    <label for="account">Account</label>
    <select class="form-control" id="account" name="account" required>
      {% for admin in admin_options %}
        <option value="{{admin}}">{{admin}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="time">Time</label>
    <select class="form-control" id="time" name="time" required>
      <option value="15">15 Minutes</option>
      <option value="30">30 Minutes</option>
      <option value="60">1 Hour</option>
      <option value="120">2 Hours</option>
    </select>
  </div>
  <div class="form-group">
    <label for="reason">Reason</label>
    <textarea class="form-control" id="reason" name="reason" rows="3" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit Request</button>

</form>

{% endblock %}