{% from "shared/_formhelpers.html" import render_field %}
{% extends "shared/_layout.html" %}

{% block title%}{{page}}{% endblock %}

{% block additional_css %}


{% endblock %}

{% block main_content %}

{% if show_header %}

<table class="mb-4 w-100">
    <tr>
        <td>
            <h1 class="display-4">{{page_header}}</h1>
        </td>
        {% if show_modal %}
        <td class="text-right">
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#modalBox">
                {{modal_button_text}}
              </button>
        </td>
        {% endif %}
    </tr>
</table>



{% endif %}

<div>

    {% if show_filters %}

    <div class="filter-form rounded">

        <h3 class="filters-header col-xs-4">Filters</h3>



        <div id="filters">
            <form method=post>

                <div class="form-row">

                    {% for filter in filters %}

                    <div class="form-group col-xs-3 col-md-4 col-lg-3 col-xl-2">
                        <label class="mb-0 text-truncate" for="{{filter['name']}}" }}>{{filter["header"]}}</label>
                        {% if filter["type"] == "combo" %}
                        <select name="{{filter['name']}}" id="filters_{{filter['name']}}" method="GET" action="/"
                            class="form-control form-control-sm" data-toggle="{{'tooltip' if filter['tooltip'] else ''}}"
                            title="{{filter['tooltip']}}" data-placement="bottom">
                            {% for item in filter["items"]%}
                            {% if item[0]|string == filter["value"]|string %}
                            <option value="{{item[0]}}" selected>{{ item[1] }}</option>
                            {% else %}
                            <option value="{{item[0]}}">{{ item[1] }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>

                        {% else %}
                        <input name="{{filter['name']}}" id="filters_{{filter['name']}}" type="{{filter['type']}}"
                            placeholder="{{filter['placeholder']}}" class="form-control form-control-sm"
                            value="{{filter['value']}}" data-toggle="{{'tooltip' if filter['tooltip'] else ''}}"
                            title="{{filter['tooltip']}}" data-placement="bottom" step="{{ filter['step'] if filter['step'] else ''}}">
                        {% endif %}

                    </div>

                    {% endfor %}

                </div>
                <div class="row">
                    <div class="ml-auto mr-3">
                        <button type="submit" name="ApplyFilters" class="btn btn-primary">Apply Filters</button>
                        <button type="button" onclick="resetForm()" class="btn btn-secondary">Reset Filters</button>
                    </div>

                </div>



            </form>
        </div>



    </div>

    <div class="spacer"></div>

    {% endif %}

</div>

{% if table|length != 0 %}

<div class="documents">
    <form method="POST" id="main_form">
        <div class="table-responsive">
            <table class="table table-sm table-striped document-table table-hover w-100 small rounded">
                <thead class="thead-dark">
                    <tr>
                        {% for header in table["header"] %}
                        <th>{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>

                {% for j in range(0, table["data"]|length) %}
                {% set row = table['data'][j] %}
                <tr>
                    {% for i in range(0, row|length) %}
                        {% if table["type"][i] == "" %}
                            <td class="{{table['class'][i]}}">{{row[i]}}</td>
                        {% elif table["type"][i] == "checkbox" %}
                            <td><input type="checkbox" class="form-control form-control-sm {{table['class'][i]}}"
                                       name="{{table['header'][i]}}_{{table['id'][j]}}" id="{{table['header'][i]}}_{{table['id'][j]}}"></td>
                        {% elif table["type"][i] == "number" %}
                        <td><input type="number" class="form-control form-control-sm {{table['class'][i]}}"
                                    name="{{table['header'][i]}}_{{table['id'][j]}}" id="{{table['header'][i]}}_{{table['id'][j]}}" value={{row[i]}}></td>

                        {% elif table['type'][i] == "combo" %}
                            <td>
                                {% if row[i]|length == 1 %}
                                    <p name="{{table['header'][i]}}_{{table['id'][j]}}" id="{{table['header'][i]}}_{{table['id'][j]}}"
                                        class="{{table['class'][i]}}">{{row[i][0][0]}}</p>
                                {% else %}
                                    <select name="{{table['header'][i]}}_{{table['id'][j]}}" id="{{table['header'][i]}}_{{table['id'][j]}}" method="GET" action="/"
                                        class="form-control form-control-sm {{table['class'][i]}}">
                                        {% for k in range(0, row[i]|length) %}
                                        {% set item = row[i][k] %}
                                        {% if item[0]|string == table["default"][i][j]|string %}
                                        <option value="{{item[0]}}" selected>{{ item[1] }}</option>
                                        {% else %}
                                        <option value="{{item[0]}}">{{ item[1] }}</option>
                                        {% endif %}
                                        {% endfor %}

                                    </select>
                                {% endif %}
                            </td>

                        {% elif table["type"][i] == "button" %}
                            <td><button type="submit" name="{{table['header'][i]}}_{{row[i]}}" value={{row[i]}}
                                class="btn btn-secondary btn-sm"">{{table['text'][i]}}</button></td>  
                        
                                {% elif table["type"][i] == "Download" %}
                            <td class="text-center align-middle"><button type="submit" name="export_{{row[i]}}" value={{row[i]}}
                                class="btn btn-secondary btn-sm"">{{table['text'][i]}}</button></td>
                        
                        {% else %}
                            <td></td>
                        {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}

            </table>

        <div class="spacer"></div>

        </div>

        {% if submit_buttons|length > 0 %}

        <table class="submit-table">
            <tr>
                <td class="absorbing-column">

                </td>

                {% for i in range(0, submit_buttons['buttons']) %}
                    <td>
                        <button type="submit" name="{{submit_buttons['name'][i]}}"
                            class="btn {{submit_buttons['class'][i]}} float-right">{{submit_buttons['text'][i]}}</button>
                    </td>
                {% endfor %}
            </tr>
        </table>

        {% endif %}


    </form>



</div>

{% endif %}

<div class="modal fade" id="modalBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{modal_title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
            <div class="modal-body row justify-content-center">
                <div class="col-auto">
                    <table>
                        {% for item in modal_items %}
                            <tr>
                                <td class="align-middle">
                                    <p class=" m-2">
                                        {{item['header']}}
                                    </p>
                                </td>
                                <td class="align-middle">
                                    {% if item['class'] == 'text' %}
                                    <input type="text" 
                                           class="form-control m-2" 
                                           id="{{item['header']}}" 
                                           name="{{item['header']}}" 
                                           placeholder="{{item['placeholder']}}" 
                                           {{ 'required' if not item['optional'] }}>
                                    {% elif item['class'] == 'combo' %}
                                    <select id="{{item['header']}}" 
                                            name="{{item['header']}}" 
                                            method="GET" action="/"
                                            class="form-control m-2"
                                            {{ 'required' if not item['optional'] }}>
                                            {% for i in range(0, item['keys']|length) %}
                                            {% if item['keys'][i]|string == item['default']|string %}
                                            <option value="{{item['keys'][i]}}" selected>{{ item['values'][i] }}</option>
                                            {% else %}
                                            <option value="{{item['keys'][i]}}">{{ item['values'][i] }}</option>
                                            {% endif %}
                                            {% endfor %}
    
                                        </select>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
                
                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="modal_submit" name="modal_submit" class="btn btn-primary">{{modal_submit_text}}</button>
            </div>
        </form>
        
      </div>
    </div>
  </div>


{% endblock %}

{% block additional_js %}

<script>
    function resetForm() {
        {% for filter in filters %}
        document.getElementById("filters_{{filter['name']}}").value = "{{filter['default_value']}}"

        {% endfor %}
    }
    
</script>

{% block more_js %}{% endblock %}

{% endblock %}