{% from "shared/_formhelpers.html" import render_field %}
{% extends "shared/_layout.html" %}

{% block title%}{{page}}{% endblock %}

{% block additional_css %}


{% endblock %}

{% block main_content %}

<h1 class="display-4 mb-4">{{page_header}}</h1>


<div>
    <div class="filter-form rounded">


        <h3 class="filters-header col-xs-4">Filters</h3>



        <div id="filters">
            <form method=post>

                <div class="form-row">

                    {% for filter in filters %}

                    <div class="form-group col-xs-3 col-md-4 col-lg-3 col-xl-2">
                        <label class="mb-0 text-truncate" for="{{filter['name']}}" }}>{{filter["header"]}}</label>
                        {% if filter["type"] == "combo" %}
                        <select name="{{filter['name']}}" id="filters_{{filter['name']}}" method="GET" action="/"
                            class="form-control form-control-sm" data-toggle="{{'tooltip' if filter['tooltip'] else ''}}"
                            title="{{filter['tooltip']}}" data-placement="bottom">
                            {% for item in filter["items"]%}
                            {% if item[0] == filter["value"] %}
                            <option value="{{item[0]}}" selected>{{ item[1] }}</option>
                            {% else %}
                            <option value="{{item[0]}}">{{ item[1] }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>

                        {% else %}
                        <input name="{{filter['name']}}" id="filters_{{filter['name']}}" type="{{filter['type']}}"
                            placeholder="{{filter['placeholder']}}" class="form-control form-control-sm"
                            value="{{filter['value']}}" data-toggle="{{'tooltip' if filter['tooltip'] else ''}}"
                            title="{{filter['tooltip']}}" data-placement="bottom">
                        {% endif %}

                    </div>

                    {% endfor %}

                </div>
                <div class="row">
                    <div class="ml-auto mr-3">
                        <button type="submit" name="ApplyFilters" class="btn btn-primary">Apply Filters</button>
                        <button type="button" onclick="resetForm()" class="btn btn-secondary">Reset Filters</button>
                    </div>

                </div>



            </form>
        </div>



    </div>

</div>

{% if files|length != 0 %}

<div class="documents">
    <form method="POST">
        <div class="table-responsive">
            <table class="table table-sm table-striped document-table table-hover w-100 small rounded">
                <thead class="thead-dark">
                    <tr>
                        <th>Plant</th>
                        <th>Ticket</th>
                        <th>Date</th>
                        <th>Customer/Job</th>
                        <th>Cust Job/PO or Phase</th>
                        <th>Material</th>
                        <th>Units</th>
                        <th></th>
                    </tr>
                </thead>

                {% for file in files %}
                <tr>
                    <td>{{file[0]}}</td>
                    <td>{{file[1]}}</td>
                    <td>{{file[8]}}</td>
                    <td>{{file[2]}}</td>
                    <td>{{file[10]}}</td>
                    <td>{{file[3]}}</td>
                    <td class="text-right">{{file[4]}}</td>
                    <td><button type="submit" name="export_{{file[7]}}" value={{file[7]}}
                            class="btn btn-secondary btn-sm"><i class="fa fa-download"></i> Download</button></td>
                </tr>
                {% endfor %}

            </table>

        </div>

        <table class="submit-table">
            <tr>
                <td class="absorbing-column">

                </td>
                <td>
                    <button type="submit" name="download" value="{{filter_settings}}"
                        class="btn btn-secondary float-right"><i class="fa fa-file-archive-o" aria-hidden="true"></i> Download All</button>
                </td>
                <td>
                    <button type="submit" name="merge" class="btn btn-secondary float-right"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Merge and Download PDFs</button>
                </td>
            </tr>
        </table>


    </form>



</div>

{% endif %}

{% endblock %}

{% block additional_js %}

<script>
    function resetForm() {
        {% for filter in filters %}
        document.getElementById("filters_{{filter['name']}}").value = "{{filter['default_value']}}"

        {% endfor %}
    }
</script>

{% endblock %}