<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>{% block title%}File Export{% endblock %}</title>



  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/img/site.webmanifest">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">



  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic|Source+Code+Pro:500">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/css/site.css" />
  <link rel="stylesheet" href="/static/css/navbar.css" />

  {% block additional_css %}{% endblock %}
</head>

<style>
  {% block css_block %}
  {% endblock %}
</style>

{% if not embed %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="/static/img/lakeside_stacked_lockup_white.svg" /></a>

  <!-- Links -->

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="mailto:biteam@lakesideindustries.com"><i class="fa fa-question-circle-o"
          aria-hidden="true"></i> Contact Us</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    {% for item in nav_items %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{nav_items[item]}}
      </a>
      <div class="dropdown-menu">
        {% for detail in nav_item_details[item] %}
          {% if detail['type'] == 'Divider' %}
            <div class="dropdown-divider"></div>
          {% elif detail['type'] == 'Link' %}
          <a class="dropdown-item navbar-dark" href="{{detail['url']}}">{{detail['text']}}</a>
          {% elif detail['type'] == 'External' %}
          <a class="dropdown-item navbar-dark" href="{{detail['url']}}" target="_blank">{{detail['text']}}</a>
          {% endif %}
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  
    {% if user %}
    <li class="nav-item">
      <a class="nav-link" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a>
    </li>
    {% else %}
    <li class="nav-item"><a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>  Login</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endif %}


<body class="{{ 'body-embedded' if embed else 'body-non-embedded' }}">
  {% if not embed %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <table class="flashes">
    {% for category, message in messages %}
    <tr class="{{ category }}">
      <td>
        {{ message }}
      </td>
    </tr>
    {% endfor %}
  </table>

  {% endif %}
  {% endwith %}
  {% endif %}
  <div class="{{container_type}}">
    <div class="{{ 'main_content_embedded' if embed else 'main_content' }}">
      {% block main_content %}{% endblock %}
    </div>
  </div>


</body>

{% if not embed %}

<footer>
  <div class="footer">
    Copyright &copy; Lakeside Industries
  </div>
</footer>

{% endif %}

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


{% block additional_js %}{% endblock %}

</html>