{% from "shared/_formhelpers.html" import render_field %}
{% extends "shared/_layout.html" %}

{% block title%}Login{% endblock %}

{% block additional_css %}


{% endblock %}

{% block main_content %}



<div class="jumbotron">
    <form method=post>
        <table class="login">
            <tr>
                <td>
                    <h1 class="display-4">Login</h1>
                    <p class="lead">Please login using your Lakeside credentials.</p>
                    <hr class="my-4">
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="lead">Lakeside Email</p>
                </td>
            </tr>

            <tr>
                <td class="filter-td">

                    <input name="email" type="text" placeholder="test.user@lakesideindustries.com" class="form-control" required>

                    
                </td>
            </tr>
            <tr>
                <td class="spacing"></td>
            </tr>
            
            <tr>
                <td>
                    <p class="lead">Password</p>
                </td>
            </tr>

            <tr>
                <td class="filter-td">
                    <input name="password" type="password" placeholder="None" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td class="spacing"></td>
            </tr>

            <tr>

                <td class="filter-td">
                    <button type="submit" name="Login" class="btn btn-primary float-right">Login</button>
                </td>
            </tr>
        </table>


    </form>

    </div>
{% endblock %}

