{% extends "shared/_layout.html" %}

{% block title%}Monroe Dispatch{% endblock %}

{% block main_content %}

<div class="d-flex justify-content-between">
    <h1 class="display-5 mb-5">Dispatch Export</h1>
    <table>
        <tr>
            <td>
                <h1 class="display-5"><a class="link text-dark" href="/monroe-paving-calendar?date={{previous}}&reload=0">&lt;</a></h1>
            </td>
            <td>
                <h1 class="display-5 ml-3 mr-3">{{date}}</a></h1>
            </td>
            <td>
                <h1 class="display-5"><a class="link text-dark" href="/monroe-paving-calendar?date={{next}}&reload=0">&gt;</a></h1>
            </td>
            <td style="width: 25px;">

            </td>
            <td data-toggle="tooltip" 
                data-placement="top" 
                title="Reload Data form SharePoint">
                <a class="btn btn-primary btn-lg" href="/monroe-paving-calendar?date={{date}}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
            </td>

        </tr>
    </table>

</div>




{% for sup, value in superintendents.items() %}

<table>
    <tr>
        <td>
            <h2>{{sup}}</h2>
        </td>
        <td style="width: 25px;">

        </td>

        <td>
            <a href="{{value[0]['sup_view']}}"
                    target="_blank">
                     <img src="/static/img/tableau.png" class="img-responsive" style="height: 50px;"/>
                    </a>
        </td>
    </tr>

</table>
<table class="table table-sm table-striped w-100">
    <thead class="thead-dark">
        <th>Category</th>
        <th>Job</th>
        <th>Start Time</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for row in value %}
            <tr>
                <td>{{row['category']}}</td>
                <td>{{row['job']}}</td>
                <td>{{row['start']}}</td>
                <td><a class="btn btn-secondary" target="_blank" href="{{row['pdf']}}" role="button">View PDF</a></td>
                <td><a class="btn btn-secondary" target="_blank" href="{{row['image']}}" role="button">View Image</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endfor %}



{% for div in divisions %}

<div class="rounded mb-5 bg-light" style="background-image: url('https://app.lakesideindustries.com/api/division-images/{{div}}'); background-repeat: no-repeat; background-size: cover;">
    <table class="" >
        <tr>
            <table class="w-100">
                <tr class="pt-3 pr-2 div-header">
                    <td class="pl-3 pt-2 pb-2">
                        <h2 class="display-5 mb-2" style="opacity: 1;"><a class="anchor" id="{{div}}"></a>{{div}}</h2>
                    </td>
                    <td class="w-100">
    
                    </td>
                    <td class="pr-4 pt-3 pb-1">
                        <p class="text-right align-bottom"><a class='link text-dark' href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i> Back to Top</a></p>
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
            <div class="row card-deck no-gutters mr-1 ml-1 mt-3">
                <div class="col"></div>
                {% for employee in featured_employees[div] %}
                    <div class="col-xs-6 col-md-4 col-lg-3 d-flex align-items-stretch w-100">
                        <div class="card mb-3">
                            <div class="embed-responsive embed-responsive-1by1 bg-light">
                                <img class="card-img-top embed-responsive-item" src="{{employee[3]}}" alt="{{employee[1]}}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{employee[1]}}</h5>
                                <h6>{{employee[2]}}</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </tr>
        
    </table>
</div>





    <div class="row card-deck no-gutters">
        {% for employee in employees[div] %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch w-100">
            <div class="card mb-5">
                <div class="bg-light cbs-Item">
                    <img class="" src="{{employee[6]}}" alt="{{employee[1]}}">
                </div>
            
                
                <div class="card-body">
                    <h5 class="card-title">{{employee[1]}}</h5>
                    <h6>{{employee[2]}}</h6>
                    <hr>
    
                        <table class="w-100" style="table-layout: fixed; width: 100%;" >
                            {% if employee[3] != '' %}
                            <tr>
       
                                <td >
                                    <a class="d-block text-truncate w-100 link text-dark"  data-toggle="tooltip" data-placement="top" title="{{employee[3]}}" href="mailto:{{employee[3]}}"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> {{employee[3]}}</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% if employee[4] != '' %}
                            <tr>
                                <td>
                                    <a href="tel:{{employee[4]}}" class="link text-dark"><i class="fa fa-fw fa-phone" aria-hidden="true"></i> {{employee[4]}}</a>
                                </td>
                            </tr>
                            {% endif %}
                
                            {% if employee[5] != '' %}
                            <tr>
                                <td>
                                    <a href="tel:{{employee[5]}}" class="link text-dark"><i class="fa fa-fw fa-mobile" aria-hidden="true"></i> {{employee[5]}}</a>
                                </td>
                            </tr>
                            {% endif %}
                
                        </table>
            
                    
                </div>
            </div>
        </div>
        
        {% endfor %}
    
    </div>


{% endfor %}




{% endblock %}