{% extends "shared/_layout.html" %}

{% block title%}{{page}}{% endblock %}

{% block main_content %}

<div class="row w-100">
    <h1 class="display-4 mb-2 col">Truck Locations</h1>
    <table class="table table-bordered table-sm mb-2 mr-1 col-lg-2 col-4">
        <thead class="thead-light">
            <th class="text-center">Refresh Every</th>

        </thead>
        <tbody>
            <tr class="table-light">
                <td>
                    <select id="refresh" class="form-control" onchange="updateInterval(this.value)">
                        <option value="10000">10 Seconds</option>
                        <option value="30000">30 Seconds</option>
                        <option value="60000" selected>1 Minute</option>
                        <option value="300000">5 Minutes</option>
                    </select>
                </td>
            
                
            </tr>
        </tbody>
        
    </table>
    <table class="table table-bordered table-sm mb-2 ml-1 col-lg-2 col-4">
        <thead class="thead-light">
            <th class="text-center">Refresh In</th>
        </thead>
        <tbody>
            <tr class="table-light">         
                <td class="text-center text-danger h2" id="counter"></td>
            </tr>
        </tbody>
        
    </table>
    <div class="col-4 col-lg-2 mb-2 mr-0 text-right w-100">
        <button type="button" class="btn btn-outline-dark btn-lg ml-2 pl-2 pr-2 w-100" onclick="updateInterval(refreshInterval)" style="height: 100%;">Refresh Now <br> <i class="fa fa-refresh" aria-hidden="true"></i></button>
    </div>
    
</div>


<div id="myViz" class="row w-100"></div>


{% endblock %}

{% block additional_js %}

<script type="text/javascript" src="https://tableau.lakesideindustries.com/javascripts/api/tableau-2.6.0.min.js"></script>

<script>
    var viz

    var refreshInterval = 60000
    var duration = refreshInterval

    function refreshView(){
        viz.refreshDataAsync();
        duration = refreshInterval

    }

    function initializeViz() {
        var placeholderDiv = document.getElementById("myViz");
        var url = "https://tableau.lakesideindustries.com/views/TruckLocations/Locations";
        var options = {
            width: "100%",
            height: "75vh",
            hideTabs: true,
            hideToolbar: true,
            onFirstInteractive: function () {
            workbook = viz.getWorkbook();
            activeSheet = workbook.getActiveSheet();
            }
        };
    viz = new tableau.Viz(placeholderDiv, url, options);
    }  

    function updateInterval(value){
        clearInterval(interval);
        interval = setInterval(refreshView, parseInt(value));
        refreshView();
        refreshInterval = parseInt(value)
        clearInterval(countDownInterval)
        duration = refreshInterval
        countDownInterval = setInterval(countDown, 1000);

        console.log(refreshInterval)
    }

    $(initializeViz);

    var interval = setInterval(refreshView, refreshInterval);

    function countDown(){

        duration -= 1000

        if (duration < 0){
            duration = 0
        }

        // Time calculations for days, hours, minutes and seconds
        var minutes = String(Math.floor((duration % (1000 * 60 * 60)) / (1000 * 60)));
        var seconds = ("0" + String(Math.floor((duration % (1000 * 60)) / 1000))).slice(-2);

        // Display the result in the element with id="demo"
        var element = document.getElementById("counter")

        element.innerHTML = minutes + ":" + seconds;

        if (duration <= 5000) {
            element.classList.add('text-danger')
        } else {
            element.classList.remove('text-danger')
        }
    }

    // Update the count down every 1 second
    var countDownInterval = setInterval(countDown, 1000);
</script>



{% endblock additional_js %}