{% extends "shared/_layout.html" %}

{% block title%}Verkada Cameras{% endblock %}

{% block main_content %}

<iframe id="issaquahPlant" src="https://vauth.command.verkada.com/embed/html/cb04586a-043b-4a1a-b5b1-f5cb18337de0/" frameborder="0" width="400" height="300" allowfullscreen></iframe>

{% endblock %}

{% block additional_js %}
    <script>
        $(document).ready(function(){
            $("#issaquahPlant").ready(function(){
                $("issaquahPlant").contents().find("video").attr('controls', true)
            })

            
        })
    </script>
{% endblock additional_js %}