html {
    position: relative;
    min-height: 100%;

}

.body-non-embedded {
    margin-top: 55px;

}

.main_content {

    margin-bottom: 125px;
    padding-top: 50px;
}

.embed-responsive .card-img-top {
    object-fit: contain;
}

tr.div-header {
    width: 1%;
    white-space: nowrap;
    background: rgba(233, 236, 239, 0.749);
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60;
    line-height: 60px;
    background-color: #6e7b88;
    text-align: center;

}

.page-header {
    margin-bottom: 25px;
}

.spacer {
    height: 50px;
}


.field-header {
    font-size: large;
    margin-bottom: 0px;
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -o-pre-wrap;
    /* Opera */
    white-space: pre-wrap;
    /* Chrome */
    word-wrap: break-word;
}

.filters {
    border-collapse: separate;
    border-spacing: 5px 0px;
    margin-left: auto;
    margin-right: auto;
}

.submit-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px, 0px;
}

.absorbing-column {
    width: 100%;
}

.filter-form {
    background-color: rgba(165, 160, 160, 0.486);
    padding: 10px;
}

.login {
    margin-right: auto;
    margin-left: auto;
    border-spacing: 5px 10px;
    width: 400px;

}

.spacing {
    height: 15px;
}

.flashes {
    width: 100%;
}

.flashes tr {
    height: 35px;
    text-align: center;
    vertical-align: middle;
}

.flashes .warning {
    background-color: lightcoral;
}

.flashes .success {
    background-color: lightgreen;
}

.flashes .information {
    background-color: rgba(165, 160, 160, 0.486);
}


.cbs-Item {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 143px;
}

.cbs-Item img {
    max-width: 100%;
    max-height: 100%;
}

.reload-table-table-name {
    max-width: 200px;
}

.totals tr {
    background: #f2f2f2;
}

.totals {
    font-weight: bold;
}

.w25px {
    width: 25px;
}

.w50px {
    width: 50px;
}

.w75px {
    width: 25px;
}

.w100px {
    width: 100px;
}

.grey-hover:hover {
    background-color: #6e7b88;
}
