<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="allocation-defaults"></div>

    <script>

        var data = {{ allocation_defaults }}



        function saveData(row){
            row.update({status: 1});
            row.getElement().classList.add("saving");
            
            data = JSON.stringify(row.getData());
            
            $.ajax({
                type: "POST",
                url: "/forms/asphalt-allocation-defaults",
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    row.update({status: 0});
                },
                error: function(errMsg) {
                    console.log(errMsg)
                    row.update({status: 2});
                }
            })

            row.getElement().classList.remove("saving");

        }

        var editCheck = function(row){
            var isEditable = !row.getElement().classList.contains('saving')
            return isEditable;
        }

        var table = new Tabulator("#allocation-defaults", {
            tooltips:true,            //show tool tips on cells
            movableColumns:false,      //allow column order to be changed
            resizableRows:true,       //allow row order to be changed
            columnMinWidth:60,
            layout:"fitDataTable",
            validationMode:"highlight",
            data:data,
            cellEdited:function(cell) {
                        saveData(cell.getRow())
                    },
            initialSort:[             //set the initial sort order of the data
                {column:"location", dir:"asc"},
            ],
            columns:[                 //define the table columns
                {title:"Location", field:"location", editor:false, frozen:true},
                {title:"Description", field:"description", editor:false, frozen:true},
                {
                    title:"Default Supplier", 
                    field:"default", 
                    headerSort:true, 
                    editor:"select", 
                    editorParams:{values:{{asphalt_sources}}},
                    editable:editCheck,
                },
                {
                    title:"Secondary Supplier", 
                    field:"secondary", 
                    headerSort:true, 
                    editor:"select", 
                    editorParams:{values:{{asphalt_sources}}},
                    editable:editCheck,
                },
                
                {
                    title:"Primary Percent", 
                    field:"pct", 
                    editor:"number", 
                    hozAlign:"right", 
                    headerSort:true,
                    validator:"required",
                    editorParams:{
                        min: 0,
                        max: 100,
                        step: 1,
                        verticalNavigation:"table",
                    },
                    formatter:function(cell){
                        return cell.getValue() + "%";
                    },
                    editable:editCheck,
                },
                {
                    title:"Status",
                    field:"status", 
                    editor:false, 
                    headerSort:false,  
                    hozAlign:"center",
                    formatter:function(cell){
                        value = cell.getValue()
                        if (value == 0){
                            cell.getElement().style.color = 'green';
                            return '<i class="fa fa-check" aria-hidden="true"></i>'
                        } else if (value == 1) {
                            cell.getElement().style.color = '';
                            return '<i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>'
                        } else {
                            cell.getElement().style.color = 'red';
                            return '<i class="fa fa-times" aria-hidden="true"></i>'
                        }
                        
                    },
                    
                },


            ],
        });
    </script>
</body>