{% extends "shared/_layout.html" %}

{% block additional_css %}
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
{% endblock additional_css %}

{% block block_css %}
{% endblock %}

{% block title%}{{page}}{% endblock %}

{% block main_content %}

<table class="w-100">
    <tr>
        <td>
            <h1 class="display-5 mb-4">
                Asphalt Projections
            </h1>
        </td>
        <td>
            <div style="display: flex; justify-content: flex-end; float: right;">
                <a class="btn btn-secondary" href="/docs/asphalt-projections/asphalt-projections-overview" target="_blank"><i class="fa fa-lg fa-info" aria-hidden="true"></i></a> 
                <button class="btn btn-success ml-2" id="saveButton2" onclick="saveData()" disabled><i class="fa  fa-floppy-o" aria-hidden="true"></i> Save Projections</button>
            </div>
        </td>

    </tr>
</table>


<table class="table table-borderless w-100 mb-5">
    <thead>
        <th class="align-bottom text-center" colspan="{{divisions|length}}">
            Divisions
        </th>
        <th></th>
        <th class="align-bottom text-center" colspan="{{month_options|length}}">
            Month Options
        </th>
    </thead>
    <tr>
        {% for div in divisions %}
            <td class="text-center grey-hover {{division_status[div[0]]}}">
                <a href="/forms/asphalt-projections-2/{{div[0]}}/{{month}}" style="text-decoration: none; color: black;">
                    <div style="width:100%; height: 100%;">
                        {{div[0]}}
                    </div>
                </a>
            </td>                      
        {% endfor %}
        <td>

        </td>
        {% for mth in month_options %}
            <td class="text-center grey-hover {{month_submit_status[mth['date']]}}">
                <a href="{{mth['link']}}" style="text-decoration: none; color: black;">
                    <div style="width:100%; height: 100%;">
                        {{mth['month']+' '+mth['date'][:4]}}
                    </div>
                </a>
            </td>                      
        {% endfor %}
    </tr>
    
</table>

<h3>Current Jobs</h3>

<div class="mb-3" id="current-jobs"></div>

<hr>

<h3>Pending Jobs</h3>

<div class="mb-3" id="pending-jobs"></div>

<hr>

<div style='width: 1300px; margin: auto;'>

<h3>Job Totals</h3>

<table class="table table-bordered table-sm w-100 text-right">
    <thead>
        <th></th>
        {% for mth, value in month_status.items() %}
        <th>{{mth|capitalize}}{{" &#10094;"|safe if mth == month_abbr and mth != 'nov' else ""}}</th>
        
        {% if mth == month_abbr and mth != 'nov' %}
        <th>{{mth|capitalize}} &#10095;</th>
        {% endif %}
        {% endfor %}
        <th>Fiscal Total</th>
        <th>Grand Total</th>
    </thead>
    <tbody>
        <tr>
            <td>Current Jobs</td>
            {% for mth, value in month_status.items() %}
            <td id="current{{mth|capitalize}}Total">0</td>
            
            {% if mth == month_abbr and mth != 'nov' %}
            <td id="currentCurrentTotal">0</td>
            {% endif %}
            {% endfor %}
            <td class="table-secondary" id="currentFTotTotal">0</td>
            <td class="table-secondary" id="currentGTotTotal">0</td>
        </tr>
        <tr>
            <td>Pending Jobs</td>
            {% for mth, value in month_status.items() %}
            <td id="pending{{mth|capitalize}}Total">0</td>
            
            {% if mth == month_abbr and mth != 'nov' %}
            <td id="pendingCurrentTotal">0</td>
            {% endif %}
            {% endfor %}
            <td class="table-secondary" id="pendingFTotTotal">0</td>
            <td class="table-secondary" id="pendingGTotTotal">0</td>
        </tr>
        <tr class="table-secondary">
            <td>Total</td>
            {% for mth, value in month_status.items() %}
            <td id="jobTotal{{mth|capitalize}}Total">0</td>
            
            {% if mth == month_abbr and mth != 'nov' %}
            <td id="jobTotalCurrentTotal">0</td>
            {% endif %}
            {% endfor %}
            <td class="table-secondary" id="jobTotalFTotTotal">0</td>
            <td class="table-secondary" id="jobTotalGTotTotal">0</td>
        </tr>
        
    </tbody>
</table>

</div>


<h3>Material Sales</h3>

<div class="mb-3" id="material-sales"> </div>

{% if division in ['030', '110'] %}
<hr>

<h3>EZ Street Production</h3>

<div class="mb-3" id="ez-street"></div>    
{% endif %}

<hr>
<div style='width: 1300px; margin: auto;'>

    <h3>Projection Summary</h3>
    
    <table class="table table-bordered table-sm w-100 text-right">
        <thead>

            {% for mth, value in month_status.items() %}
            {% if mth != 'future' %}
            <th>{{mth|capitalize}}{{" &#10094;"|safe if mth == month_abbr and mth != 'nov' else ""}}</th>
            {% endif %}
            {% if mth == month_abbr and mth != 'nov' %}
            <th>{{mth|capitalize}} &#10095;</th>
            {% endif %}
            {% endfor %}
            <th>Grand Total</th>
        </thead>
        <tbody>
            <tr class="collapse">
                {% for mth, value in month_status.items() %}
                {% if mth != 'future' %}
                <td id="materialSales{{mth|capitalize}}Total">0</td>
                {% endif %}
                {% if mth == month_abbr and mth != 'nov' %}
                <td id="materialSalesCurrentTotal">0</td>
                {% endif %}
                {% endfor %}
                <td class="table-secondary" id="materialSalesFTotTotal">0</td>
            </tr>
            <tr class="collapse">
                {% for mth, value in month_status.items() %}
                {% if mth != 'future' %}
                <td id="ezStreet{{mth|capitalize}}Total">0</td>
                {% endif %}
                {% if mth == month_abbr and mth != 'nov' %}
                <td id="ezStreetCurrentTotal">0</td>
                {% endif %}
                {% endfor %}
                <td class="table-secondary" id="ezStreetFTotTotal">0</td>
            </tr>
            <tr>

                {% for mth, value in month_status.items() %}
                {% if mth != 'future' %}
                <td id="Total{{mth|capitalize}}Total">0</td>
                {% endif %}
                {% if mth == month_abbr and mth != 'nov' %}
                <td id="TotalCurrentTotal">0</td>
                {% endif %}
                {% endfor %}
                <td class="table-secondary" id="TotalFTotTotal">0</td>
            </tr>
            
        </tbody>
    </table>
    
    </div>

<div style="display: flex; justify-content: flex-end">
    <button class="btn btn-success" id="saveButton" onclick="saveData()" disabled><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Projections</button>
</div>




<script type='text/javascript' src='https://tableau.lakesideindustries.com/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 1300px; height: 682px; margin: auto;'>
    <object class='tableauViz' width='1300' height='682' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Ftableau.lakesideindustries.com%2F' /> 
        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
        <param name='name' value='AsphaltProjectionsHistory&#47;AsphaltProjectionsHistory' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='filter' value='Division={{division}}' />
        <param name='showAppBanner' value='false' />
    </object>
</div>


<div class="modal fade" id="newJobModal" tabindex="-1" role="dialog" aria-labelledby="newJobModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newJobModalLabel">Add New Job</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="newJob">Job</label>
                <input type="text" class="form-control" id="newJob" placeholder="0000000" onchange="checkAddJob()">
            </div>
            <div class="form-group">
                <label for="newJob">Job Description</label>
                <input type="text" class="form-control" id="newJobDescription" placeholder="Job Description" onchange="checkAddJob()">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="addJobButton" disabled onclick="addNewJob()">Add Job</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saveModalLabel">Saving Projections</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table w-100 table-borderless">
              <tr style="height: 50px;">
                  <td class="align-middle"><h3>Current Jobs</h3></td>
                  <td><i id="currentJobsIndicator" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></td>
              </tr>
              <tr style="height: 50px;">
                <td class="align-middle"><h3>Pending Jobs</h3></td>
                <td><i id="pendingJobsIndicator" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></td>
            </tr>
            <tr style="height: 50px;">
                <td class="align-middle"><h3>Material Sales</h3></td>
                <td><i id="materialSalesIndicator" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></td>
            </tr>
            {% if division in ['030', '110'] %}
            <tr style="height: 50px;">
                <td class="align-middle"><h3>EZ Street</h3></td>
                <td><i id="ezStreetIndicator" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></td>
            </tr>
            {% endif %}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block additional_js %}
    <script>

        saved=true;

        window.onbeforeunload = confirmExit;
        function confirmExit() {
            if (!saved) {
                return "You did not save, do you want to do it now?";
            }
        }


        function checkAddJob(){
            job = document.getElementById('newJob').value;
            jobDescription = document.getElementById('newJobDescription').value;

            if (job && jobDescription){
                document.getElementById('addJobButton').disabled = false;
            } else {
                document.getElementById('addJobButton').disabled = true;
            }
        }

        var defaultPlant = "{{default_plant}}"
        var defaultLiquid = "{{default_liquid}}"
        var defaultPct = {{default_pct}}

        var jobHistory = JSON.parse('{{ job_history }}')
        var plantHistory = JSON.parse('{{ plant_history }}')


        var defaultJob = {
            pct: defaultPct,
            plant: defaultPlant,
            liquid: defaultLiquid,
            source:"Open",
            dec:0,
            jan:0,
            feb:0,
            mar:0,
            apr:0,
            may:0,
            jun:0,
            jul:0,
            aug:0,
            sep:0,
            oct:0,
            nov:0,
            future:0,
            tot_f:0,
            total:0,
            check:0,
            current:0,
        }

        var defaultMaterialSales = {
            pct: defaultPct,
            plant: defaultPlant,
            liquid: defaultLiquid,
            source:"Open",
            dec:0,
            jan:0,
            feb:0,
            mar:0,
            apr:0,
            may:0,
            jun:0,
            jul:0,
            aug:0,
            sep:0,
            oct:0,
            nov:0,
            tot_f:0,
            customer:"",
            current:0
        }

        function addNewJob(){
            job = document.getElementById('newJob').value;
            jobDescription = document.getElementById('newJobDescription').value;
            newRecord = JSON.parse(JSON.stringify(defaultJob))

            newRecord.job = job
            newRecord.description = jobDescription
            newRecord.id = getNextID(table.getData())

            table.addRow(newRecord, false)
        }

        function addMaterialSales(){
            plants.addRow(defaultMaterialSales, false)
        }

        function updateTotals(cell, tableName){
            var row = cell.getRow();
            var data = row.getData();
            var fTotal = getNum(data.dec) + getNum(data.jan) + getNum(data.feb);
            fTotal = fTotal + getNum(data.mar) + getNum(data.apr) + getNum(data.may);
            fTotal = fTotal + getNum(data.jun) + getNum(data.jul) + getNum(data.aug);
            fTotal = fTotal + getNum(data.sep) + getNum(data.oct) + getNum(data.nov);
            fTotal = fTotal + getNum(data.current)

            var pTotal = getNum(data.dec) * {{1 if month_status['dec'] else 0}}
            pTotal = pTotal + getNum(data.jan) * {{1 if month_status['jan'] else 0}}
            pTotal = pTotal + getNum(data.feb) * {{1 if month_status['feb'] else 0}}
            pTotal = pTotal + getNum(data.mar) * {{1 if month_status['mar'] else 0}}
            pTotal = pTotal + getNum(data.apr) * {{1 if month_status['apr'] else 0}}
            pTotal = pTotal + getNum(data.may) * {{1 if month_status['may'] else 0}}
            pTotal = pTotal + getNum(data.jun) * {{1 if month_status['jun'] else 0}}
            pTotal = pTotal + getNum(data.jul) * {{1 if month_status['jul'] else 0}}
            pTotal = pTotal + getNum(data.aug) * {{1 if month_status['aug'] else 0}}
            pTotal = pTotal + getNum(data.sep) * {{1 if month_status['sep'] else 0}}
            pTotal = pTotal + getNum(data.oct) * {{1 if month_status['oct'] else 0}}
            pTotal = pTotal + getNum(data.nov) * {{1 if month_status['nov'] else 0}}
            pTotal = pTotal + getNum(data.future) * {{1 if month_status['future'] else 0}}
            pTotal = pTotal + getNum(data.current)

            var total = fTotal + getNum(data.future)

            var check = getNum(data.actual_ttg) - pTotal
            if (data.complete) {
                check = 0
            }

            row.update({tot_f:fTotal, total:total, check:check})

            document.getElementById('saveButton').disabled = false;
            document.getElementById('saveButton2').disabled = false;
            saved = false;
            updateProjectionSummary(tableName);
        }

        function updateProjectionSummary(tableName){

            if (tableName == "Current"){
                data = table.getData();
            } else if (tableName == "Pending") {
                data = pending.getData();
            } else if (tableName == "Sales") {
                data = plants.getData();
            } else if (tableName == "EZStreet") {
                data = ezStreet.getData();
            }

            current = 0
            fiscal = 0
            future = 0

            dec = 0
            jan = 0
            feb = 0
            mar = 0
            apr = 0
            may = 0
            jun = 0
            jul = 0
            aug = 0
            sep = 0
            oct = 0
            nov = 0
            cur = 0
            fut = 0
            ftot = 0
            gtot = 0


            for (i in data){
                row = data[i]

                cur = cur + getNum(row.current)
                fut = fut + getNum(row.future)
                dec = dec + getNum(row.dec) 
                jan = jan + getNum(row.jan)
                feb = feb + getNum(row.feb)
                mar = mar + getNum(row.mar)
                apr = apr + getNum(row.apr)
                may = may + getNum(row.may)
                jun = jun + getNum(row.jun)
                jul = jul + getNum(row.jul)
                aug = aug + getNum(row.aug)
                sep = sep + getNum(row.sep)
                oct = oct + getNum(row.oct)
                nov = nov + getNum(row.nov)
                ftot = ftot + getNum(row.tot_f)
                gtot = gtot + getNum(row.total)
            }

            if (tableName == "Current"){
                dec = jobHistory.Dec || dec;
                jan = jobHistory.Jan || jan;
                feb = jobHistory.Feb || feb;
                mar = jobHistory.Mar || mar;
                apr = jobHistory.Apr || apr;
                may = jobHistory.May || may;
                jun = jobHistory.Jun || jun;
                jul = jobHistory.Jul || jul;
                aug = jobHistory.Aug || aug;
                sep = jobHistory.Sep || sep;
                oct = jobHistory.Oct || oct;
                nov = jobHistory.Nov || nov;
                ftot = dec + jan + feb + mar + apr + may + jun + jul + aug + sep + oct + nov + cur
                gtot = ftot + fut
            } else if (tableName == "Sales") {
                dec = plantHistory.Dec || dec;
                jan = plantHistory.Jan || jan;
                feb = plantHistory.Feb || feb;
                mar = plantHistory.Mar || mar;
                apr = plantHistory.Apr || apr;
                may = plantHistory.May || may;
                jun = plantHistory.Jun || jun;
                jul = plantHistory.Jul || jul;
                aug = plantHistory.Aug || aug;
                sep = plantHistory.Sep || sep;
                oct = plantHistory.Oct || oct;
                nov = plantHistory.Nov || nov;
                ftot = dec + jan + feb + mar + apr + may + jun + jul + aug + sep + oct + nov + cur
                gtot = ftot + fut
            }

            fiscal = fiscal + dec * {{1 if month_status['dec'] else 0}}
            fiscal = fiscal + jan * {{1 if month_status['jan'] else 0}}
            fiscal = fiscal + feb * {{1 if month_status['feb'] else 0}}
            fiscal = fiscal + mar * {{1 if month_status['mar'] else 0}}
            fiscal = fiscal + apr * {{1 if month_status['apr'] else 0}}
            fiscal = fiscal + may * {{1 if month_status['may'] else 0}}
            fiscal = fiscal + jul * {{1 if month_status['jun'] else 0}}
            fiscal = fiscal + jul * {{1 if month_status['jul'] else 0}}
            fiscal = fiscal + aug * {{1 if month_status['aug'] else 0}}
            fiscal = fiscal + sep * {{1 if month_status['sep'] else 0}}
            fiscal = fiscal + oct * {{1 if month_status['oct'] else 0}}
            fiscal = fiscal + nov * {{1 if month_status['nov'] else 0}}

            current = current + cur
            future = fut + future

            if (tableName == "Current"){
                {% for mth, value in month_status.items() %}
                $("#current{{mth|capitalize}}Total").html(numberWithCommas({{mth}}))
                {% endfor %}
                $("#currentCurrentTotal").html(numberWithCommas(cur))
                $("#currentFTotTotal").html(numberWithCommas(ftot))
                $("#currentGTotTotal").html(numberWithCommas(gtot))
            } else if (tableName == "Pending") {
                {% for mth, value in month_status.items() %}
                $("#pending{{mth|capitalize}}Total").html(numberWithCommas({{mth if value else 0}}))
                {% endfor %}
                $("#pendingCurrentTotal").html(numberWithCommas(cur))
                $("#pendingFTotTotal").html(numberWithCommas(fiscal + current))
                $("#pendingGTotTotal").html(numberWithCommas(fiscal + future + current))
            } else if (tableName == "Sales") {
                {% for mth, value in month_status.items() %}
                $("#materialSales{{mth|capitalize}}Total").html(numberWithCommas({{mth}}))
                {% endfor %}
                $("#materialSalesCurrentTotal").html(numberWithCommas(cur))
                $("#materialSalesFTotTotal").html(numberWithCommas(ftot))
                $("#materialSalesGTotTotal").html(numberWithCommas(gtot))
            } else if (tableName == "EZStreet") {
                {% for mth, value in month_status.items() %}
                $("#ezStreet{{mth|capitalize}}Total").html(numberWithCommas({{mth}}))
                {% endfor %}
                $("#ezStreetCurrentTotal").html(numberWithCommas(cur))
                $("#ezStreetFTotTotal").html(numberWithCommas(ftot))
                $("#ezStreetGTotTotal").html(numberWithCommas(gtot))
            }

            {% for mth, value in month_status.items() %}
            $("#jobTotal{{mth|capitalize}}Total").html(numberWithCommas(removeComma($("#current{{mth|capitalize}}Total").html()) + removeComma($("#pending{{mth|capitalize}}Total").html())))
            {% endfor %}
            $("#jobTotalCurrentTotal").html(numberWithCommas(removeComma($("#currentCurrentTotal").html()) + removeComma($("#pendingCurrentTotal").html())))
            $("#jobTotalFTotTotal").html(numberWithCommas(removeComma($("#currentFTotTotal").html()) + removeComma($("#pendingFTotTotal").html())))
            $("#jobTotalGTotTotal").html(numberWithCommas(removeComma($("#currentGTotTotal").html()) + removeComma($("#pendingGTotTotal").html())))

            {% for mth, value in month_status.items() %}
            $("#Total{{mth|capitalize}}Total").html(numberWithCommas(removeComma($("#jobTotal{{mth|capitalize}}Total").html()) + removeComma($("#materialSales{{mth|capitalize}}Total").html()) + removeComma($("#ezStreet{{mth|capitalize}}Total").html())))
            {% endfor %}
            $("#TotalCurrentTotal").html(numberWithCommas(removeComma($("#jobTotalCurrentTotal").html()) + removeComma($("#materialSalesCurrentTotal").html()) + removeComma($("#ezStreetCurrentTotal").html())))
            $("#TotalFTotTotal").html(numberWithCommas(removeComma($("#jobTotalFTotTotal").html()) + removeComma($("#materialSalesFTotTotal").html()) + removeComma($("#ezStreetFTotTotal").html())))

        }

        function removeComma(val){
            if (val){
                return getNum(parseInt(val.replace(',', '')))
            }
            else {
                return 0
            }
            
        }

        function getNum(val) {
            if (Number.isInteger(val)) {
                return val;
            }
            return 0;
            }


        function printTable(){
            console.log(table.getData())
        }

        function numberWithCommas(x) {
            if (x){
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            } else {
                return "";
            }
        };

        function missingRequiredFormatter(cell){
            var value = cell.getValue();

            if (value){
                cell.getElement().style.color = '';
                cell.getElement().style.textAlign = '';
                return value
            } else {
                cell.getElement().style.color = 'red';
                cell.getElement().style.textAlign = "center";
                return '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>'
            }
        }

        function getNextID(data){
            maxID = 0
            for (row in data) {
                if (maxID < data[row]['id']) {
                    maxID = data[row]['id']
                }
            }
            return maxID + 1
        }

        function saveData(){

            var data = JSON.stringify(table.getData());
            var pendingData = JSON.stringify(pending.getData());
            var materialData = JSON.stringify(plants.getData())

            var valid = table.validate();
            var pendingValid = pending.validate();
            var plantValid = plants.validate();

            {% if division in ['030', '110'] %}
            var ezStreetData = JSON.stringify(ezStreet.getData());
            var ezValid = ezStreet.validate();
            {% endif %}

            if (typeof valid === 'object' && valid !== null) {
                alert("Please correct any validation errors")
            } else if (typeof pendingValid === 'object' && pendingValid !== null) {
                alert("Please correct any validation errors")
            } else if (typeof plantValid === 'object' && plantValid !== null) {
                alert("Please correct any validation errors")

            } else {
                $('#saveModal').modal('show')
                $('#pendingJobsIndicator').removeClass('fa-check fa-times text-success text-danger').addClass('fa-spinner fa-pulse')
                $('#currentJobsIndicator').removeClass('fa-check fa-times text-success text-danger').addClass('fa-spinner fa-pulse')
                $('#materialSalesIndicator').removeClass('fa-check fa-times text-success text-danger').addClass('fa-spinner fa-pulse')
                $('#ezStreetIndicator').removeClass('fa-check fa-times text-success text-danger').addClass('fa-spinner fa-pulse')

                $.ajax({
                    type: "POST",
                    url: '/forms/asphalt-projections-data/{{division}}/{{month}}/current',
                    // The key needs to match your method's input parameter (case-sensitive).
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        $('#currentJobsIndicator').addClass('fa-check text-success').removeClass('fa-spinner fa-pulse')
                    },
                    error: function(errMsg) {
                        $('#currentJobsIndicator').addClass('fa-times text-danger').removeClass('fa-spinner fa-pulse')
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '/forms/asphalt-projections-data/{{division}}/{{month}}/pending',
                    // The key needs to match your method's input parameter (case-sensitive).
                    data: pendingData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        $('#pendingJobsIndicator').addClass('fa-check text-success').removeClass('fa-spinner fa-pulse')
                    },
                    error: function(errMsg) {
                        $('#pendingJobsIndicator').addClass('fa-times text-danger').removeClass('fa-spinner fa-pulse')
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '/forms/asphalt-projections-data/{{division}}/{{month}}/plants',
                    // The key needs to match your method's input parameter (case-sensitive).
                    data: materialData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        $('#materialSalesIndicator').addClass('fa-check text-success').removeClass('fa-spinner fa-pulse')
                    },
                    error: function(errMsg) {
                        $('#materialSalesIndicator').addClass('fa-times text-danger').removeClass('fa-spinner fa-pulse')
                    }
                });
                {% if division in ['030', '110'] %}
                $.ajax({
                    type: "POST",
                    url: '/forms/asphalt-projections-data/{{division}}/{{month}}/ezstreet',
                    // The key needs to match your method's input parameter (case-sensitive).
                    data: ezStreetData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        $('#ezStreetIndicator').addClass('fa-check text-success').removeClass('fa-spinner fa-pulse')
                    },
                    error: function(errMsg) {
                        $('#ezStreetIndicator').addClass('fa-times text-danger').removeClass('fa-spinner fa-pulse')
                    }
                });
                {% endif %}

                document.getElementById('saveButton').disabled = true;
                document.getElementById('saveButton2').disabled = true;
                saved = true;

            }

            
        }


        var table = new Tabulator("#current-jobs", {
            tooltips:true,            //show tool tips on cells
            addRowPos:"top",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            movableColumns:false,      //allow column order to be changed
            resizableRows:true,       //allow row order to be changed
            columnMinWidth:60,
            index:"id",
            layout:"fitDataFill",
            validationMode:"highlight",
            maxHeight:450,
            footerElement:'<button class="btn btn-primary" data-toggle="modal" data-target="#newJobModal">Add Current Job</button>',
            cellEdited:function(cell) {
                        updateTotals(cell, "Current")
                    },
            dataLoaded:function(data){
                updateProjectionSummary("Current")
            },
            initialSort:[             //set the initial sort order of the data
                {column:"job", dir:"asc"},
            ],
            columns:[                 //define the table columns
                {title:"Job", field:"job", editor:false, frozen:true},
                {title:"Description", field:"description", width:200, editor:false, headerSort:false, frozen:true},
                {
                    title:"Copy", 
                    editor:false, 
                    headerSort:false, 
                    frozen:true, 
                    hozAlign:"center",
                    cellClick:function(e, cell){
                        rowData = JSON.parse(JSON.stringify(cell.getRow().getData()));
                        rowData['id'] = getNextID(table.getData());
                        table.addRow(rowData, true)
                        table.setSort(table.getSorters())
                    },
                    formatter:function(cell){
                        return '<i class="fa fa-clone" aria-hidden="true"></i>'
                    },
                    
                },
                {
                    title:"Delete", 
                    editor:false, 
                    headerSort:false, 
                    frozen:true, 
                    hozAlign:"center",
                    cellClick:function(e, cell){
                        row = cell.getRow();
                        if (confirm("Are you sure you want to delete this row?")){
                            row.delete();
                        }
                        
                    },
                    formatter:function(cell){
                        cell.getElement().style.color = "red";
                        return '<i class="fa fa-minus-circle" aria-hidden="true"></i>'
                    },
                    
                },
                {title:"Complete", field:"complete", headerSort:false, editor:"tickCross", formatter:"tickCross", formatterParams:{crossElement:false}, hozAlign:"center",},
                {
                    title:"Plant", 
                    field:"plant", 
                    width:125, 
                    headerSort:false, 
                    editor:"select", 
                    editorParams:{values:{{plants}}},
                    validator:"required",
                    formatter:function(cell){
                        return missingRequiredFormatter(cell);
                    },
                },
                {
                    title:"Liquid", 
                    field:"liquid", 
                    width:125, 
                    headerSort:false, 
                    editor:"select", 
                    validator:"required",
                    editorParams:{values:{{liquid_types}}},
                    formatter:function(cell){
                        value = cell.getValue()
                        if (value && value != '58H'){
                            cell.getElement().style.backgroundColor = '#f8e6b0'
                        } else {
                            cell.getElement().style.backgroundColor = ""
                        }
                        return missingRequiredFormatter(cell);
                    },
                },
                {
                    title:"Percent", 
                    field:"pct", 
                    editor:"number", 
                    hozAlign:"right", 
                    headerSort:false,
                    validator:"required",
                    editorParams:{
                        min: 0,
                        max: 100,
                        step: 0.1,
                        verticalNavigation:"table",
                    },
                    formatter:function(cell){
                        return cell.getValue() + "%";
                    }
                },
                {
                    title:"Source", 
                    field:"source", 
                    width:95, 
                    editor:"select", 
                    headerSort:false, 
                    editorParams:{values:{{asphalt_sources}}},
                    validator:"required",
                },
                {
                    title:"Tons", 
                    field:"tons", 
                    editor:false, 
                    headerSort:false,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                {
                    title:"Tons to Date", 
                    field:"tons_comp", 
                    headerSort:false, 
                    editor:false,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                {
                    title:"Tons to Go", 
                    field:"tons_tg", 
                    headerSort:false, 
                    editor:false,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                {
                    title:"Actual TTG", 
                    field:"actual_ttg", 
                    headerSort:false, 
                    editor:"number", 
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                {% for mth, value in month_status.items() %}
                {
                    title:"{{mth|capitalize}}{{" &#10094;"|safe if mth == month_abbr and mth != 'nov' else ""}}", 
                    field:"{{mth}}", 
                    editor:{{'"number"'|safe if value else 'false'}}, 
                    headerSort:false,
                    validator:"integer",
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        cell.getElement().style.fontWeight = "{{'' if value else 'bold'}}";
                        if (cell.getValue() == 0) {
                            return "{{"" if value else "---"}}"
                        } else {
                            return "{{"" if value else "*" }}" + numberWithCommas(cell.getValue());
                        }
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    
                },
                {% if mth == month_abbr and mth != 'nov' %}
                {
                    title:"{{mth|capitalize}} &#10095;", 
                    field:"current", 
                    editor:"number", 
                    headerSort:false,
                    validator:"integer",
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        return numberWithCommas(cell.getValue());
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    
                },
                {% endif %}

                {% endfor %}
                
                {
                    title:"Total Fiscal", 
                    field:"tot_f", 
                    editor:false, 
                    frozen:true,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                
                {
                    title:"Total", 
                    field:"total", 
                    editor:false, 
                    frozen:true,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                {
                    title:"Check", 
                    field:"check", 
                    editor:false, 
                    frozen:true,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        var check = cell.getValue();

                        if (cell.getRow().getData().complete){
                            check = 0
                        }

                        if(check != 0){
                            cell.getElement().style.backgroundColor = "#ffbe7d";
                        } else {
                            cell.getElement().style.backgroundColor = "";
                        }
                        return numberWithCommas(check);
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
            ],
        });

        table.setData("/forms/asphalt-projections-data/{{division}}/{{month}}/current")

        

        var pending = new Tabulator("#pending-jobs", {
            tooltips:true,            //show tool tips on cells
            addRowPos:"bottom",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            movableColumns:false,      //allow column order to be changed
            resizableRows:true,       //allow row order to be changed
            columnMinWidth:60,
            maxHeight:450,
            layout:"fitDataFill",
            footerElement: '<button class="btn btn-primary" id="addPendingJob">Add Pending Job</button>',
            cellEdited:function(cell) {
                        updateTotals(cell, "Pending")
                    },
            dataLoaded:function(data){
                updateProjectionSummary("Pending")
            },
            initialSort:[             //set the initial sort order of the data
                {column:"job", dir:"asc"},
            ],
            columns:[                 //define the table columns
                {title:"Job", field:"job", editor:true, frozen:true, minWidth:150, validator:"required",},
                {
                    title:"Job Status", 
                    field:"job_status", 
                    editor:"select", 
                    editorParams:{values:{{pending_job_status}}},
                    frozen:true},
                {
                    title:"Copy", 
                    editor:false, 
                    headerSort:false, 
                    frozen:true, 
                    hozAlign:"center",
                    cellClick:function(e, cell){
                        rowData = JSON.parse(JSON.stringify(cell.getRow().getData()));
                        rowData['id'] = getNextID(pending.getData());
                        pending.addRow(rowData, true)
                        pending.setSort(pending.getSorters())
                    },
                    formatter:function(cell){
                        return '<i class="fa fa-clone" aria-hidden="true"></i>'
                    },
                    
                },
                {
                    title:"Delete", 
                    editor:false, 
                    headerSort:false, 
                    frozen:true, 
                    hozAlign:"center",
                    cellClick:function(e, cell){
                        row = cell.getRow();
                        if (confirm("Are you sure you want to delete this row?")){
                            row.delete();
                        }
                        
                    },
                    formatter:function(cell){
                        cell.getElement().style.color = "red";
                        return '<i class="fa fa-minus-circle" aria-hidden="true"></i>'
                    },
                    
                },
                {
                    title:"Plant", 
                    field:"plant", 
                    width:125, 
                    headerSort:false, 
                    editor:"select", 
                    editorParams:{values:{{plants}}},
                    validator:"required",
                    formatter:function(cell){
                        return missingRequiredFormatter(cell);
                    },
                },
                {
                    title:"Liquid", 
                    field:"liquid", 
                    validator:"required",
                    width:125, 
                    headerSort:false, 
                    editor:"select", 
                    editorParams:{values:{{liquid_types}}},
                    formatter:function(cell){
                        value = cell.getValue()
                        if (value && value != '58H'){
                            cell.getElement().style.backgroundColor = '#f8e6b0'
                        } else {
                            cell.getElement().style.backgroundColor = ""
                        }
                        return missingRequiredFormatter(cell);
                    },
                },
                {
                    title:"Percent", 
                    field:"pct", 
                    editor:"number", 
                    hozAlign:"right", 
                    validator:"required",
                    headerSort:false,
                    editorParams:{
                        min: 0,
                        max: 100,
                        step: 1,
                        verticalNavigation:"table",
                    },
                    formatter:function(cell){
                        return cell.getValue() + "%";
                    }
                },
                {title:"Source", field:"source", width:95, editor:"select", validator:"required", headerSort:false, editorParams:{values:{{asphalt_sources}}}},
                {
                    title:"Tons", 
                    field:"actual_ttg", 
                    editor:"number", 
                    headerSort:false, 
                    editorParams:{
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    validator:"required",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                {% for mth, value in month_status.items() %}
                {
                    title:"{{mth|capitalize}}{{" &#10094;"|safe if mth == month_abbr and mth != 'nov' else ""}}", 
                    field:"{{mth}}", 
                    editor:{{'"number"'|safe if value else 'false'}}, 
                    headerSort:false,
                    validator:"integer",
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        cell.getElement().style.fontWeight = "{{'' if value else 'bold'}}";
                        if (cell.getValue() == 0) {
                            return "{{"" if value else "---"}}"
                        } else {
                            return "{{"" if value else "*" }}" + numberWithCommas(cell.getValue());
                        }
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    
                },
                {% if mth == month_abbr and mth != 'nov' %}
                {
                    title:"{{mth|capitalize}} &#10095;", 
                    field:"current", 
                    editor:"number", 
                    headerSort:false,
                    validator:"integer",
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        return numberWithCommas(cell.getValue());
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    
                },
                {% endif %}

                {% endfor %}
                        
                {
                    title:"Total Fiscal", 
                    field:"tot_f", 
                    editor:false, 
                    frozen:true,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                
                {
                    title:"Total", 
                    field:"total", 
                    editor:false, 
                    frozen:true,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
                {
                    title:"Check", 
                    field:"check", 
                    editor:false, 
                    frozen:true,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        var check = cell.getValue();

                        if(check != 0){
                            cell.getElement().style.backgroundColor = "#ffbe7d";
                        } else {
                            cell.getElement().style.backgroundColor = "";
                        }
                        return numberWithCommas(check);
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
            ],
        });

        pending.setData("/forms/asphalt-projections-data/{{division}}/{{month}}/pending")

        document.getElementById("addPendingJob").addEventListener("click", function(){
            pending.addRow({pct:0, source:"Open", dec:0, jan:0, feb:0, mar:0, apr:0, may:0, jun:0, jul:0, aug:0, sep:0, oct:0, nov:0, future:0, check:0, id: getNextID(pending.getData())});
        });

        var plants = new Tabulator("#material-sales", {
            tooltips:true,            //show tool tips on cells
            addRowPos:"bottom",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            movableColumns:false,      //allow column order to be changed
            resizableRows:true,       //allow row order to be changed
            columnMinWidth:60,
            maxHeight:450,
            layout:"fitDataFill",
            footerElement: '<button class="btn btn-primary" onclick="addMaterialSales()">Add Material Sales</button>',
            cellEdited:function(cell) {
                        updateTotals(cell, "Sales")
                    },
            dataLoaded:function(data){
                updateProjectionSummary("Sales")
            },
            initialSort:[             //set the initial sort order of the data
                {column:"plant", dir:"asc"},
            ],
            columns:[                 //define the table columns
                {
                    title:"Plant", 
                    field:"plant", 
                    width:225, 
                    headerSort:false, 
                    editor:"select", 
                    editorParams:{values:{{plants}}},
                    validator:"required", 
                    formatter:function(cell){
                        return missingRequiredFormatter(cell);
                    },
                    frozen:true,
                },
                {
                    title:"Customer", 
                    field:"customer", 
                    width:225, 
                    headerSort:false, 
                    editor:"autocomplete", 
                    editorParams:{
                        values:{{customers}},
                        showListOnEmpty:false, //show all values when the list is empty,
                        freetext:true, //allow the user to set the value of the cell to a free text entry
                        allowEmpty:true, //allow empty string values
                        searchFunc:function(term, values){ //search for exact matches
                            var matches = [];

                            values.forEach(function(value){
                                //value - one of the values from the value property

                                if(value.toUpperCase().includes(term.toUpperCase())){
                                    matches.push(value);
                                }
                            });

                            return matches;
                        },
                        searchingPlaceholder:"Filtering ...", //set the search placeholder
                        emptyPlaceholder:"(no matching results found)", //set the empty list placeholder
                    },
                    
                    frozen:true,
                },
                {
                    title:"Copy", 
                    editor:false, 
                    headerSort:false, 
                    frozen:true, 
                    hozAlign:"center",
                    cellClick:function(e, cell){
                        rowData = JSON.parse(JSON.stringify(cell.getRow().getData()));
                        rowData['id'] = getNextID(plants.getData());
                        plants.addRow(rowData, true)
                        plants.setSort(plants.getSorters())
                    },
                    formatter:function(cell){
                        return '<i class="fa fa-clone" aria-hidden="true"></i>'
                    },
                    
                },
                {
                    title:"Delete", 
                    editor:false, 
                    headerSort:false, 
                    frozen:true, 
                    hozAlign:"center",
                    cellClick:function(e, cell){
                        row = cell.getRow();
                        if (confirm("Are you sure you want to delete this row?")){
                            row.delete();
                        }
                        
                    },
                    formatter:function(cell){
                        cell.getElement().style.color = "red";
                        return '<i class="fa fa-minus-circle" aria-hidden="true"></i>'
                    },
                    
                },
                {
                    title:"Liquid", 
                    field:"liquid", 
                    width:125, 
                    headerSort:false, 
                    editor:"select", 
                    editorParams:{values:{{liquid_types}}},
                    validator:"required",
                    formatter:function(cell){
                        value = cell.getValue()
                        if (value && value != '58H'){
                            cell.getElement().style.backgroundColor = '#f8e6b0'
                        } else {
                            cell.getElement().style.backgroundColor = ""
                        }
                        return missingRequiredFormatter(cell);
                    },
                },
                {
                    title:"Percent", 
                    field:"pct", 
                    editor:"number", 
                    hozAlign:"right", 
                    headerSort:false,
                    validator:"required",
                    editorParams:{
                        min: 0,
                        max: 100,
                        step: 1,
                        verticalNavigation:"table",
                    },
                    formatter:function(cell){
                        return cell.getValue() + "%";
                    }
                },
                {title:"Source", field:"source", width:95, editor:"select", validator:"required", headerSort:false, editorParams:{values:{{asphalt_sources}}}},
            
                {% for mth, value in month_status.items() %}
                {% if mth != 'future' %}
                {
                    title:"{{mth|capitalize}}{{" &#10094;"|safe if mth == month_abbr and mth != 'nov' else ""}}", 
                    field:"{{mth}}", 
                    editor:{{'"number"'|safe if value else 'false'}}, 
                    headerSort:false,
                    validator:"integer",
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        cell.getElement().style.fontWeight = "{{'' if value else 'bold'}}";
                        if (cell.getValue() == 0) {
                            return "{{"" if value else "---"}}"
                        } else {
                            return "{{"" if value else "*" }}" + numberWithCommas(cell.getValue());
                        }
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    
                },
                {% endif %}
                {% if mth == month_abbr and mth != 'nov' %}
                {
                    title:"{{mth|capitalize}} &#10095;", 
                    field:"current", 
                    editor:"number", 
                    headerSort:false,
                    validator:"integer",
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        return numberWithCommas(cell.getValue());
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    
                },
                {% endif %}

                {% endfor %}
                
                {
                    title:"Total", 
                    field:"tot_f", 
                    editor:false, 
                    frozen:true,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
            ],
        });

        plants.setData("/forms/asphalt-projections-data/{{division}}/{{month}}/plants")

        {% if division in ['030', '110'] %}


        var ezStreet = new Tabulator("#ez-street", {
            tooltips:true,            //show tool tips on cells
            addRowPos:"bottom",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            movableColumns:false,      //allow column order to be changed
            resizableRows:true,       //allow row order to be changed
            columnMinWidth:60,
            maxHeight:450,
            layout:"fitDataFill",
            cellEdited:function(cell) {
                        updateTotals(cell, "EZStreet")
                    },
            dataLoaded:function(data){
                updateProjectionSummary("EZStreet")
            },
    
            columns:[                 //define the table columns
                
            {% for mth, value in month_status.items() %}
                {% if mth != 'future' %}
                {
                    title:"{{mth|capitalize}}{{" &#10094;"|safe if mth == month_abbr and mth != 'nov' else ""}}", 
                    field:"{{mth}}", 
                    editor:{{'"number"'|safe if value else 'false'}}, 
                    headerSort:false,
                    validator:"integer",
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        cell.getElement().style.fontWeight = "{{'' if value else 'bold'}}";
                        if (cell.getValue() == 0) {
                            return "{{"" if value else "---"}}"
                        } else {
                            return "{{"" if value else "*" }}" + numberWithCommas(cell.getValue());
                        }
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    
                },
                {% endif %}
                {% if mth == month_abbr and mth != 'nov' %}
                {
                    title:"{{mth|capitalize}} &#10095;", 
                    field:"current", 
                    editor:"number", 
                    headerSort:false,
                    validator:"integer",
                    editorParams:{
                        step: 1,
                        min: 0,
                        verticalNavigation:"table",
                    },
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:function(cell){
                        return numberWithCommas(cell.getValue());
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    
                },
                {% endif %}

                {% endfor %}
                
                {
                    title:"Total", 
                    field:"tot_f", 
                    editor:false, 
                    frozen:true,
                    bottomCalc:"sum",
                    hozAlign:"right",
                    bottomCalc:"sum",
                    hozAlign:"right",
                    formatter:"money",
                    formatterParams:{
                        thousand:",",
                        precision:0,
                    },
                    bottomCalcFormatter:"money",
                    bottomCalcFormatterParams:{
                        thousand:",",
                        precision:0,
                    },
                },
            ],
        });

        ezStreet.setData("/forms/asphalt-projections-data/{{division}}/{{month}}/ezstreet")

        {% endif %}

    </script>
{% endblock additional_js %}